[user]
	email = francoispacaud8@gmail.com
	name = fpacaud
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[alias]
    st = status -s --untracked-files=no
	ci = commit
	co = checkout
	br = branch
	loga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	ui = true
